body {
  background: #f15d35;
  background-color: #f15d35; }

  .reveal {
  font-family: "Lato", sans-serif;
  letter-spacing: -0.02em;
  color: black; }

.reveal h1 {
    font-size: 6em;
    line-height:2em;
}

.reveal h1.title {
    font-size: 7em;
    line-height:1em;
    text-align: center;
}

.reveal h2 {
    font-size: 4em;
    line-height:2em;
}

.reveal h3 {
    font-size: 2em;
    line-height:1.25em;
}
